/* stylelint-disable no-descending-specificity */
.utility-bar {
  height: 100%;
}

.utility-bar--bottom-border {
  border-bottom: 0.0625rem solid rgb(var(--color-text-rgb), 0.08);
}

.utility-bar--bottom-border-social-only {
  @media (--lg) {
    border-bottom: 0.0625rem solid rgb(var(--color-text-rgb), 0.08);
  }
}

.utility-bar__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'announcements';
}

.utility-bar__grid .list-social {
  place-content: center flex-start;
  margin-left: -0.75rem;
  grid-area: social-icons;
}

.utility-bar .utility-bar__grid .list-social {
  @media (--lg-down) {
    display: none;
  }
}

.utility-bar .list-social__item .icon {
  scale: 0.9;
}

.utility-bar__grid--3-col {
  @media (--lg) {
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-areas: 'social-icons announcements language-currency';
  }
}

.utility-bar__grid--2-col {
  @media (--lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'social-icons language-currency';
  }
}

.announcement-bar.announcement-bar--one-announcement,
.announcement-bar--one-announcement .announcement-bar__link {
  @media (--lg) {
    width: fit-content;
    margin: auto;
  }
}

.announcement-bar,
.announcement-bar__announcement {
  color: rgb(var(--color-text-rgb));
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center center;
  flex-wrap: wrap;
  grid-area: announcements;
}

.announcement-bar .slider--everywhere {
  margin-bottom: 0;
  scroll-behavior: auto;
}

.utility-bar__grid .announcement-bar-slider {
  width: 100%;
}

.announcement-bar-slider {
  width: 100%;

  @media (--lg) {
    width: 60%;
  }
}

.announcement-bar-slider .slider {
  width: 100%;
}

.announcement-bar .slider-button--next {
  margin-right: -0.9375rem;
  min-width: 44px;
}

.announcement-bar .slider-button--prev {
  margin-left: -0.9375rem;
  min-width: 44px;
}

.announcement-bar .slider-button--next:focus-visible,
.announcement-bar .slider-button--prev:focus-visible,
.utility-bar .list-social__link:focus-visible {
  outline-offset: -0.1875rem;
  box-shadow: 0 0 0 -0.125rem rgb(var(--color-text-rgb));
}

.localization-wrapper {
  grid-area: language-currency;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.localization-wrapper .localization-selector + .disclosure__list-wrapper {
  animation: animateMenuOpen var(--duration-standard) ease;
}

.utility-bar .localization-wrapper .disclosure .localization-form__select,
.utility-bar .localization-wrapper .disclosure__link {
  font-size: 0.8125rem;
}

body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
  @media (--lg) {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.announcement-bar .slider-button {
  @media (--lg) {
    height: 2.375rem;
  }
}

.announcement-bar__link {
  display: flex;
  width: 100%;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.announcement-bar__link:hover {
  text-decoration: underline;
}

.announcement-bar__link .icon-arrow {
  display: inline-block;
  pointer-events: none;
  margin-left: 0.5rem;
  vertical-align: middle;
  margin-bottom: 0.125rem;
}

.announcement-bar__message {
  text-align: center;
  padding: 0.625rem 0;
  margin: 0;
  letter-spacing: 0.0625rem;
  min-height: 2.375rem;
}

.announcement-bar-slider--fade-in-next .announcement-bar__message,
.announcement-bar-slider--fade-in-previous .announcement-bar__message,
.announcement-bar-slider--fade-out-next .announcement-bar__message,
.announcement-bar-slider--fade-out-previous .announcement-bar__message {
  animation-duration: var(--duration-standard);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.announcement-bar-slider--fade-in-next .announcement-bar__message {
  --announcement-translate-from: -0.9375rem;

  /* Prevent flicker */
  opacity: 0;
  animation-name: translateAnnouncementSlideIn;
  animation-delay: var(--duration-standard);
}

.announcement-bar-slider--fade-in-previous .announcement-bar__message {
  --announcement-translate-from: 0.9375rem;

  /* Prevent flicker */
  opacity: 0;
  animation-name: translateAnnouncementSlideIn;
  animation-delay: var(--duration-standard);
}

.announcement-bar-slider--fade-out-next .announcement-bar__message {
  --announcement-translate-to: 0.9375rem;
  animation-name: translateAnnouncementSlideOut;
}

.announcement-bar-slider--fade-out-previous .announcement-bar__message {
  --announcement-translate-to: -0.9375rem;
  animation-name: translateAnnouncementSlideOut;
}

@keyframes translateAnnouncementSlideIn {
  0% {
    opacity: 0;
    transform: translateX(var(--announcement-translate-from));
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateAnnouncementSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(var(--announcement-translate-to));
  }
}
