.overflow-hidden-mobile,
.overflow-hidden-tablet,
.overflow-hidden-desktop {
  overflow: hidden;
}

.overflow-hidden-mobile {
  @media (--md) {
    overflow: auto;
  }
}

.overflow-hidden-tablet {
  @media (--lg) {
    overflow: auto;
  }
}
