.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.small-hide {
  @media (--md-down) {
    display: none !important;
  }
}

.medium-hide {
  @media (--md) and (--lg-down) {
    display: none !important;
  }
}

.large-up-hide {
  @media (--lg) {
    display: none !important;
  }
}
