.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

@media (width < 46.875rem) {
  .small-hide {
    display: none !important;
  }
}

@media (46.875rem <= width < 61.875rem) {
  .medium-hide {
    display: none !important;
  }
}

@media (--lg) {
  .large-up-hide {
    display: none !important;
  }
}
