:root {
  --layout-content-max: 75rem;
  --layout-content-narrow-max: 45.375rem;
  --layout-content-margin: 0rem;
  --layout-gutter: var(--space-4);
  --layout-section-gap: var(--space-16);
  --layout-grid-gap: var(--space-4);
  --z-index-header: 20;
  --z-index-overlay: 30;
  --z-index-modal: 40;

  @media (--md) {
    --layout-gutter: var(--space-8);
    --layout-section-gap: var(--space-20);
  }
}
